<section id="schedule" class="row">
    <div class="title-start schedule-menu col-md-4 col-md-offset-4">
    <br />
        <h2>Events Schedule</h2>
        <p class="sub-text text-center">Check out the event details</p>
    </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Event One</h4>
                    </div>
                    <div class="timeline-body d-flex">
                        <p class="timeline-desc col-md-6">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        <p class="timeline-other col-md-6">
                            
                            <em class="timeline-item">
                             Venue : Adeleade
                            </em> 
                            <em class="timeline-item">
                            Seats : 25
                            </em>
                            <em class="timeline-item">
                            Ticket: $35 
                            </em>
                            <em class="timeline-item">
                            Date : Feb-21-2014
                            </em>
                            <em class="timeline-item">
                            Duration : 5days
                            </em>

                        </p>

                    </div>
                    
                </div>
            </li>
            
            <li  class="timeline-inverted">
                <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Event Two</h4>
                    </div>
                    <div class="timeline-body d-flex">
                        <p class="timeline-desc col-md-6">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        <p class="timeline-other col-md-6">
                            
                            <em class="timeline-item">
                             Venue : Adeleade
                            </em> 
                            <em class="timeline-item">
                            Seats : 25
                            </em>
                            <em class="timeline-item">
                            Ticket: $35 
                            </em>
                            <em class="timeline-item">
                            Date : Feb-21-2014
                            </em>
                            <em class="timeline-item">
                            Duration : 5days
                            </em>

                        </p>

                    </div>
                    
                </div>
            </li>
            
            <li>
                <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Event Three</h4>
                    </div>
                    <div class="timeline-body d-flex">
                        <p class="timeline-desc col-md-6">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        <p class="timeline-other col-md-6">
                            
                            <em class="timeline-item">
                             Venue : Adeleade
                            </em> 
                            <em class="timeline-item">
                            Seats : 25
                            </em>
                            <em class="timeline-item">
                            Ticket: $35 
                            </em>
                            <em class="timeline-item">
                            Date : Feb-21-2014
                            </em>
                            <em class="timeline-item">
                            Duration : 5days
                            </em>

                        </p>

                    </div>
                </div>
            </li>
            
            <li class="timeline-inverted">
                <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Event Four</h4>
                    </div>
                    <div class="timeline-body d-flex">
                        <p class="timeline-desc col-md-6">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        <p class="timeline-other col-md-6">
                            
                            <em class="timeline-item">
                             Venue : Adeleade
                            </em> 
                            <em class="timeline-item">
                            Seats : 25
                            </em>
                            <em class="timeline-item">
                            Ticket: $35 
                            </em>
                            <em class="timeline-item">
                            Date : Feb-21-2014
                            </em>
                            <em class="timeline-item">
                            Duration : 5days
                            </em>

                        </p>

                    </div>
           
                </div>
            </li>
            
            <li>
                <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Event Five</h4>
                    </div>
                    <div class="timeline-body d-flex">
                        <p class="timeline-desc col-md-6">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        <p class="timeline-other col-md-6">
                            
                            <em class="timeline-item">
                             Venue : Adeleade
                            </em> 
                            <em class="timeline-item">
                            Seats : 25
                            </em>
                            <em class="timeline-item">
                            Ticket: $35 
                            </em>
                            <em class="timeline-item">
                            Date : Feb-21-2014
                            </em>
                            <em class="timeline-item">
                            Duration : 5days
                            </em>

                        </p>

                    </div>
                    
                </div>
            </li>
            
            <li  class="timeline-inverted">
                <div class="timeline-badge">
                  <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Event Six</h4>
                    </div>
                    <div class="timeline-body d-flex">
                        <p class="timeline-desc col-md-6">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        <p class="timeline-other col-md-6">
                            
                            <em class="timeline-item">
                             Venue : Adeleade
                            </em> 
                            <em class="timeline-item">
                            Seats : 25
                            </em>
                            <em class="timeline-item">
                            Ticket: $35 
                            </em>
                            <em class="timeline-item">
                            Date : Feb-21-2014
                            </em>
                            <em class="timeline-item">
                            Duration : 5days
                            </em>

                        </p>

                    </div>
                    
                </div>
            </li>
            <li class="clearfix no-float"></li>
        </ul>
        
    </section>

