<div class="container mt-4 p-3">

    <h1>Favourites</h1>
    <hr>
    <div>
        <app-alert></app-alert>
    </div>
    @if(bookingsList().length<=0){ No favorites added... } @else{ @for (item of bookingsList(); track $index) { <div
        class="row border border-success rounded border-4 m-3 mt-4">
        <div class="col-md-3">
            <img [src]="item.img" width="100%" height="100%" alt="Booking img">
        </div>

        <div class="col-md-7 border m-3 rounded">
            @if(item.service){
            <p>{{item.service}}</p>
            }@else if(item.event){
            <p>{{item.event}}</p>
            }
            <p>{{item.deliveryDate | date:'longDate'}}</p>
            <div class="accordion" id="accordionExample">
                <!-- <app-button [btnClass]="'btn btn-dark'" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapseOne'+$index" aria-expanded="true"
                    [attr.aria-controls]="'collapseOne'+$index">
                    View Details
                </app-button> -->

                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                [attr.data-bs-target]="'#exampleModal'+ $index">
                View
            </button>
         

            <!-- <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+$index" aria-expanded="true" [attr.aria-controls]="'collapseOne'+$index">
                     View
                    </button>
                  </h2>
                  <div [id]="'collapseOne'+$index" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       <table class="table table-success table-striped">
                           <thead>
                               <tr>
                                   <th scope="col">Sl.No</th>
                                   <th scope="col">Booking</th>
                                   <th scope="col">Style</th>
                                   <th scope="col">Services</th>
                                   <th scope="col">Date</th>
                                   <th scope="col">Guests</th>
                                   <th scope="col">Venue</th>
                               </tr>
                           </thead>
                           <tbody>
                              
                               <tr>
                                   <th scope="row">{{$index + 1}}</th>
                                   <td>
                                       @if(item.service){
                                       <p>{{item.service}}</p>
                                       }@else if(item.event){
                                       <p>{{item.event}}</p>
                                       }
                                   </td>
                                   <td> {{item.style}}</td>
                                   <td>
                                       @for (service of item.services; track $index) {

                                       <div class="d-flex justify-content-between">
                                           <p><u>{{service.serviceName}}</u></p>
                                           <app-button [btnClass]="'btn-danger rounded-pill'" data-bs-toggle="modal"
                                           [attr.data-bs-target]="'#exampleModal' + service._id">Delete</app-button>

                                       <div class="modal fade" [id]="'exampleModal' + service._id" tabindex="-1"
                                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                                           <div class="modal-dialog">
                                               <div class="modal-content">
                                                   <div class="modal-header">
                                                       <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                           Confirmation</h1>
                                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                           aria-label="Close"></button>
                                                   </div>
                                                   <div class="modal-body">
                                                       Are you sure you want to delete the service ?
                                                   </div>
                                                   <div class="modal-footer">
                                                       <button type="button" class="btn btn-secondary"
                                                           data-bs-dismiss="modal">Cancel</button>
                                                       <button type="button" class="btn btn-danger"
                                                           data-bs-dismiss="modal"
                                                           (click)="deleteChoice(item._id,service.serviceName,service._id!)">Delete</button>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       </div>

                                       <ul>
                                           @if(service.choiceType){
                                           <li>{{service.choiceName}}-{{service.choiceType}}-{{service.choicePrice | currency:'INR':'symbol':'1.0-0':'en-IN'}} </li>
                                           }@else{
                                             <li>{{service.choiceName}}-{{service.choicePrice | currency:'INR':'symbol':'1.0-0':'en-IN'}}</li>
                                           }
                                       </ul>

                                       }
                                   </td>
                                   <td>{{item.deliveryDate | date:'longDate'}}</td>
                                   <td>{{item.totalCount}}</td>
                                   <td>
                                       <p>{{item.venue.building}}</p>
                                       <p>{{item.venue.street}},{{item.venue.city}} </p>
                                       <p></p>{{item.venue.district}},{{item.venue.state}}
                                   </td>
                               </tr>
                               

                           </tbody>
                       </table>
                    </div>
                  </div>
                </div>
              
              </div> -->

              
              <app-button [btnClass]="'btn btn-dark ms-3'" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#exampleModal' + item._id">Delete</app-button>

                    @if(item.isApproved){
                        @if(walletAmount>=bookingAmount){
                            <app-button [btnClass]="'btn btn-dark ms-3'" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#exampleModal1' + item._id"> Pay &
                                Confirm</app-button>
                            }@else {
                            <app-button [btnClass]=" 'btn btn-dark ms-3' " (onBtnClick)="confirmBooking(item._id)"> Pay &
                                Confirm</app-button>
                            }
                    }
               

                <!--Delete Modal -->
                <div class="modal fade" [id]="'exampleModal' + item._id" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the booking?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    (click)="deleteBooking(item._id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Delete Modal -->


                <!--Payment Modal -->
                <div class="modal fade" [id]="'exampleModal1' + item._id" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Choose Payment Method.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    (click)="confirmWalletBooking(item._id,'Wallet Payment')">Wallet</button>
                                    @if(item.isApproved){
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                        (click)="confirmBooking(item._id)">Online Payment</button>
                                    }
                              
                            </div>
                        </div>
                    </div>
                </div>
                <!--Payment Modal -->

            </div>


        </div>

        <!-- <div class="accordion-item">

            <div [id]="'collapseOne'+$index" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-8 mt-4">
                            @if(item.service){
                            <p>Service: {{item.service}}</p>
                            }@else if(item.event){
                            <p>Event: {{item.event}}</p>
                            }
                            <ul>
                                @if(item.style){
                                Style: {{item.style}}
                                }
                                <li>Services:

                                    @for (service of item.services; track $index) {

                                    <div class="d-flex justify-content-between">
                                        <p>{{service.serviceName}}</p>

                                        <app-button [btnClass]="'btn-danger rounded-pill'" data-bs-toggle="modal"
                                            [attr.data-bs-target]="'#exampleModal' + service._id">Delete</app-button>

                                        <div class="modal fade" [id]="'exampleModal' + service._id" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                            Confirmation</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete the service ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal"
                                                            (click)="deleteChoice(item._id,service.serviceName,service._id!)">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>

                                    <ul>
                                        <li>{{service.choiceName}} </li>
                                        @if(service.choiceType){
                                        <li>{{service.choiceType}} </li>
                                        }
                                        <li>{{service.choicePrice}}</li>
                                    </ul>

                                    }

                                </li>
                                <li>Date: {{item.deliveryDate | date:'longDate'}}</li>
                                <li>Guests: {{item.totalCount}}</li>
                                <li>Venue:
                                    <p>{{item.venue.building}}</p>
                                    <p>{{item.venue.street}},{{item.venue.city}},{{item.venue.district}},{{item.venue.state}},
                                    </p>
                                </li>

                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div> -->

           <!-- Button trigger modal -->
           <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal"
           [attr.data-bs-target]="'#exampleModal'+ $index">
           View
       </button> -->

       <!-- Modal -->
       <div class="modal fade" [id]="'exampleModal'+ $index" tabindex="-1"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-xl">
               <div class="modal-content">
                   <div class="modal-header">
                       <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Details</h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                           aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                       <table class="table table-success table-striped">
                           <thead>
                               <tr>
                                   <th scope="col">Sl.No</th>
                                   <th scope="col">Booking</th>
                                   <th scope="col">Style</th>
                                   <th scope="col">Services</th>
                                   <th scope="col">Date</th>
                                   <th scope="col">Guests</th>
                                   <th scope="col">Venue</th>
                               </tr>
                           </thead>
                           <tbody>
                              
                               <tr>
                                   <th scope="row">{{$index + 1}}</th>
                                   <td>
                                       @if(item.service){
                                       <p>{{item.service}}</p>
                                       }@else if(item.event){
                                       <p>{{item.event}}</p>
                                       }
                                   </td>
                                   <td> {{item.style}}</td>
                                   <td>
                                       @for (service of item.services; track $index) {

                                       <div class="d-flex justify-content-between">
                                           <p><u>{{service.serviceName}}</u></p>

                                           <button class="btn btn-danger rounded-pill btn-sm" (click)="showDeleteConfirmation(service._id)" [disabled]="selectedServiceIdToDelete===service._id">Delete</button>

                                          

                                           <!-- <app-button [btnClass]="'btn-danger rounded-pill'" data-bs-toggle="modal"
                                           [attr.data-bs-target]="'#exampleModal' + service._id">Delete</app-button>

                                       <div class="modal fade" [id]="'exampleModal' + service._id" tabindex="-1"
                                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                                           <div class="modal-dialog">
                                               <div class="modal-content">
                                                   <div class="modal-header">
                                                       <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                           Confirmation</h1>
                                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                           aria-label="Close"></button>
                                                   </div>
                                                   <div class="modal-body">
                                                       Are you sure you want to delete the service ?
                                                   </div>
                                                   <div class="modal-footer">
                                                       <button type="button" class="btn btn-secondary"
                                                           data-bs-dismiss="modal">Cancel</button>
                                                       <button type="button" class="btn btn-danger"
                                                           data-bs-dismiss="modal"
                                                           (click)="deleteChoice(item._id,service.serviceName,service._id!)">Delete</button>
                                                   </div>
                                               </div>
                                           </div>
                                       </div> -->

                                       </div>

                                       @if(selectedServiceIdToDelete===service._id){
                                        <div class="d-flex bg-light flex-column">
                                            <div class="mt-3 mb-3 ms-3">
                                                Are you sure you want to delete the service ?
                                            </div>
                                            <div class="d-flex flex-row mb-3 ms-3 justify-content-around">
                                                <button type="button" class="btn btn-secondary"
                                                    (click)="hideDeleteConfirmation()">Cancel</button>
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal"
                                                    (click)="deleteChoice(item._id,service.serviceName,service._id!);selectedServiceIdToDelete='' ">Delete</button>
                                            </div>
                                        </div>
                                       
                                       }

                                       <ul>
                                           @if(service.choiceType){
                                           <li>{{service.choiceName}}-{{service.choiceType}}-{{service.choicePrice | currency:'INR':'symbol':'1.0-0':'en-IN'}} </li>
                                           }@else{
                                             <li>{{service.choiceName}}-{{service.choicePrice | currency:'INR':'symbol':'1.0-0':'en-IN'}}</li>
                                           }
                                       </ul>

                                       }
                                   </td>
                                   <td>{{item.deliveryDate | date:'longDate'}}</td>
                                   <td>{{item.totalCount}}</td>
                                   <td>
                                       <p>{{item.venue.building}}</p>
                                       <p>{{item.venue.street}},{{item.venue.city}} </p>
                                       <p></p>{{item.venue.district}},{{item.venue.state}}
                                   </td>
                               </tr>
                               

                           </tbody>
                       </table>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary"
                           data-bs-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
       </div>

</div>
}


}


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage===1">
            <a class="page-link" (click)="onPageChange(currentPage-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for(item of getTotalPages(); track $index){
        <li class="page-item"><a class="page-link" [class.active]="currentPage===item"
                (click)="onPageChange(item)">{{item}}</a></li>
        }

        <li class="page-item" [class.disabled]="currentPage===getLastpage()">
            <a class="page-link" (click)="onPageChange(currentPage+1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</div>


<!-- Modal -->

<div class="modal" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="hideModal()"></button>
            </div>
            <div class="modal-body">
                <span> {{confirmationMessage}}</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="isBookingSuccess? goToBookings():hideModal()">Ok</button>
            </div>
        </div>
    </div>
</div>