<div class="container">
    <div class="text-end mt-4">
        <app-button [btnClass]=" 'btn-dark btn-sm rounded-pill m-2' "
        (onBtnClick)="showModal()">Book Now</app-button>
    
    </div>
    <div class="row">

        <div class="col-md-12 p-2">

            <div class="row">
                @for (item of serviceNames ; track $index) {

                <div class="m-3">
                    <h1>{{item}}</h1>
                </div><br>
                <hr>

                @for (services of servicesData()[item]; track $index) {

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <!-- <img [src]="serviceImgUrl+services.img" class="card-img-top" alt="..."> -->
                        <img [src]="services.img" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">{{services.name}}</h5> -->

                            <div class="card">
                                <!-- <div class="card-header">
                                    <h4> Available for: </h4>
                                    @for (event of services.events; track $index) {
                                    <h6>* {{event}}</h6>
                                    }
                                </div> -->
                                <h5>Options</h5>
                                <hr>

                                <ul class="list-group list-group-flush">
                                    @for (choice of services.choices; track $index) {
                                    <li class="list-group-item">

                                        <div class="row border">
                                            <div class="col-md-4 mt-2 p-2">
                                                <!-- <img [src]="serviceImgUrl + choice.choiceImg" class="img-fluid" alt=""
                                                    width="100%" height="20"> -->
                                                    <img [src]="choice.choiceImg" class="img-fluid" alt=""
                                                    width="100%" height="20">
                                            </div>
                                            <div class="col-md-7 mt-2 p-2">
                                                <h6>{{choice.choiceName}}</h6>
                                                @if(choice.choiceType){
                                                <h6>{{choice.choiceType}}</h6>
                                                }
                                                <h6>₹ {{choice.choicePrice}}</h6>
                                            </div>
                                        </div>

                                    </li>
                                    }


                                </ul>
                            </div>
                            <!-- <app-button [btnClass]=" 'btn-dark btn-sm rounded-pill m-2' "
                                (onBtnClick)="bookEvent(services.id,services.provider)">Book Now</app-button> -->

                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>

                }
                <br>
                <hr>
                }
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal" #modal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h1 class="modal-title fs-1" id="staticBackdropLabel">Book Event</h1>


                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="hideModal()"></button>
                </div>
                <div class="modal-body">


                    <form [formGroup]="bookingForm">

                        <!-- @if(step()===1){ -->
                        <div>

                            <h2>Event Details</h2>


                            <!-- <h5>Select services for your event.</h5> -->
                            <hr>

                            <app-form [label]=" 'Select Event:' " [tooltip]=" 'Select Event' "><br>
                                <select class="form-select" formControlName="event" (change)="getServices($event)">
                                    <option selected disabled>Select Event</option>
                                    @for (item of eventsArray; track $index) {
                                    <option [value]="item">{{item}}</option>
                                    }
                                </select>
                            </app-form>

                            <app-form [label]=" 'Select Style:' " [tooltip]=" 'Select option' "><br>

                                <select class="form-select" formControlName="style">
                                    <option selected disabled>Select Style</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Muslim">Muslim</option>
                                    <option value="Christian">Christian</option>
                                    <option value="General">General</option>
                                </select>
                            </app-form>

                            <div [formArrayName]="'services'">
                                <!-- get service options available for the selected event, get the responsecontaining arrays of decor, dining, menu, -->
                                <!-- @for (item of services.controls; track $index) {
                                <div [formGroupName]="$index"> -->
                                    @if(decor.length>0){

                                    <app-form [label]=" 'Select Decor:' " [tooltip]=" 'Select option' "><br>

                                        <select class="form-select" (change)="setServiceDropdowns($event,'decor')">
                                            <option selected disabled>Select Decor</option>
                                            @for (item of decor; track $index) {
                                            <option [value]="item.name" [attr.data-extra]="item.providerId">{{item.name}}-₹ {{item.price}}</option>
                                            }
                                            <!-- The data-* attributes are custom attributes you can add to any HTML element to store additional data. These attributes follow the data- prefix, making them valid and accessible via JavaScript. -->
                                       <!-- The [attr.data-extra] dynamically sets the data-extra attribute using the extra property -->
                                        </select>

                                    </app-form>
                                    }
                                    @if(dining.length>0){

                                    <app-form [label]=" 'Select Dining:' " [tooltip]=" 'Select option' "><br>

                                        <select class="form-select" (change)="setServiceDropdowns($event,'dining')">
                                            <option selected disabled>Select Dining</option>
                                            @for (item of dining; track $index) {
                                            <option [value]="item.name" [attr.data-extra]="item.providerId">{{item.name}}-₹ {{item.price}}</option>
                                            }

                                        </select>
                                    </app-form>
                                    }
                                    @if(cuisine.length>0){

                                    <app-form [label]=" 'Select Cuisine:' " [tooltip]=" 'Select option' "><br>

                                        <!-- <select class="form-select" (change)="setServiceDropdowns($event,'cuisine')">
                                            <option selected disabled>Select Cuisine</option>

                                            @for (item of cuisine; track $index) {
                                            <option [value]="item.name" [attr.data-extra]="item.providerId">{{item.name}}-₹ {{item.price}}</option>
                                            }
                                        </select> -->
                                        
                                        @for (item of cuisine; track $index) {
                                        <input type="checkbox" class="form-check-input" [value]="item.name" (change)="setServiceCheckboxes(item.name,item.price,item.providerId,'cuisine')"><label for="" class="form-check-label">{{item.name}}-₹ {{item.price}}</label><br>
                                        }
                                    </app-form>
                                    }
                                    @if(coverage.length>0){

                                    <app-form [label]=" 'Select Event Coverage:' " [tooltip]=" 'Select option' "><br>

                                        <!-- <select class="form-control" (change)="setServiceDropdowns($event,'coverage')">
                                            <option selected disabled>Select Coverage</option>
                                            @for (item of coverage; track $index) {
                                            <option [value]="item.name" [attr.data-extra]="item.providerId">{{item.name}}-{{item.price}}</option>
                                            }
                                        </select> -->

                                        @for (item of coverage; track $index) {
                                            <input type="checkbox" class="form-check-input" [value]="item.name" (change)="setServiceCheckboxes(item.name,item.price,item.providerId,'cuisine')"><label for="" class="form-check-label">{{item.name}}-₹ {{item.price}}</label><br>
                                            }

                                    </app-form>
                                    }

                                </div>

                            <!-- }
                            </div> -->

                            <!-- <app-button [btnClass]=" 'm-3' " (onBtnClick)="formNext()"><i
                                    class="fa-solid fa-circle-chevron-right" style="color: #1d624e;"></i></app-button> -->

                        </div><br>

                        <!-- } -->


                        <!-- @if (step()===2){ -->

                        <div>
                            <h2>Booking Details</h2>
                            <app-form [label]=" 'Date of service Delivery:' " [tooltip]=" 'Select Date' "
                                [Validation]="bookingForm.controls['deliveryDate'].touched &&
                                bookingForm.controls['deliveryDate'].errors ? bookingForm.controls['deliveryDate'].errors : {}">
                                <input type="date" class="form-select" placeholder="Enter service delivery date"
                                    formControlName="deliveryDate">
                            </app-form>

                            <app-form [label]=" 'Number of guests:' " [tooltip]=" 'Enter guests count' "
                                [Validation]="bookingForm.controls['totalCount'].touched &&
                                    bookingForm.controls['totalCount'].errors ? bookingForm.controls['totalCount'].errors : {}">
                                <input type="number" class="form-select" placeholder="Enter total guests"
                                    formControlName="totalCount">
                            </app-form>



                            <div id="choices" [formGroupName]="'venue'">

                                <app-form [label]=" 'Building:' " [tooltip]=" 'Enter building / house name' "
                                    [Validation]="bookingForm.get('venue.building')?.touched &&
                                    bookingForm.get('venue.building')?.errors ? bookingForm.get('venue.building')?.errors : {}">
                                    <input type="string" class="form-select" placeholder="Enter building / house name"
                                        formControlName="building">
                                </app-form>

                                <app-form [label]=" 'Street:' " [tooltip]=" 'Enter street' " [Validation]="bookingForm.get('venue.street')?.touched &&
                                    bookingForm.get('venue.street') ? bookingForm.get('venue.street')?.errors : {}">
                                    <input type="string" class="form-select" placeholder="Enter street name"
                                        formControlName="street">
                                </app-form>

                                <app-form [label]=" 'State:' " [tooltip]=" 'Enter state' " [Validation]="bookingForm.get('venue.state')?.touched &&
                                bookingForm.get('venue.state')?.errors ? bookingForm.get('venue.state')?.errors : {}">

                                    <select name="" id="" class="form-select" formControlName="state"
                                        (change)="getDistricts($event)">
                                        <option value="" selected disabled>Select state</option>
                                        @for (item of statesList; track $index) {
                                        <option [value]="item">{{item}}</option>
                                        }
                                    </select>
                                </app-form>

                                <app-form [label]=" 'District:' " [tooltip]=" 'Enter district' "
                                    [Validation]="bookingForm.get('venue.district')?.touched &&
                                    bookingForm.get('venue.district')?.errors ? bookingForm.get('venue.district')?.errors : {}">

                                    <select name="" id="" class="form-select" formControlName="district">
                                        <option value="" selected disabled>Select District</option>
                                        @for (item of districtsList; track $index) {
                                        <option [value]="item">{{item}}</option>
                                        }
                                    </select>
                                </app-form>


                                <app-form [label]=" 'City:' " [tooltip]=" 'Enter city' "
                                    [Validation]="bookingForm.get('venue.city')?.touched &&
                                    bookingForm.get('venue.city')?.errors ? bookingForm.get('venue.city')?.errors : {}">
                                    <input type="string" class="form-select" placeholder="Enter city"
                                        formControlName="city">
                                </app-form>

                                <app-form [label]=" 'Post Box:' " [tooltip]=" 'Enter post box number' "
                                    [Validation]="bookingForm.get('venue.pbNo')?.touched &&
                                    bookingForm.get('venue.pbNo')?.errors ? bookingForm.get('venue.pbNo')?.errors : {}">
                                    <input type="number" class="form-select" placeholder="Enter post box number"
                                        formControlName="pbNo">
                                </app-form>

                            </div>

                            <!-- <app-button [btnClass]=" 'm-3' " (onBtnClick)="formPrevious()"> <i
                                    class="fa-solid fa-circle-chevron-left" style="color: #1d624e;"></i> </app-button> -->

                            <div class="d-grid gap-2 d-md-block">


                                <app-button [btnClass]=" 'btn-success m-3' " (onBtnClick)="saveBooking()">Continue</app-button>

                                <app-button [btnClass]=" 'btn-info m-3' " (onBtnClick)="hideModal()">Cancel</app-button>

                            </div>

                        </div>
                        <!-- } -->


                    </form>



                </div>
            </div>
        </div>
    </div>

</div>