/* @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bokor&family=Parkinsans:wght@300..800&display=swap');
h1,h2{
    font-family: "Alex Brush", cursive;
    font-weight: 500;
    font-style: normal;
    font-size:60px;
  } */