<div>Users loading 
    <p>{{allUsers}} | async</p>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Dream Event</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float-right">
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Login</a>
                    </li>
                </ul> -->
                @if(isLogin){
                    <button type="button" class="btn btn-primary">Logout</button>
                }@else{
                    <button type="button" class="btn btn-primary ms-5" (click)="showPopup()">Login</button>
                }

            </div>
        </div>

    </div>
</nav>



<!-- Modal -->
<div class="modal" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if(isLoginForm){
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Log In</h1>
                }@else{
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sign Up</h1>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hidePopup()"></button>
            </div>
            <div class="modal-body">
                @if(!isRole){
                    <div>
                        <button (click)="isRole=true;userRole='user'">Login as User</button>
                        <button (click)="isRole=true;userRole='provider'">Login as Service Provider</button>
                    </div>
                }@else if(isRole){

                    @if(isLoginForm){
                        <form [formGroup]="userLoginForm">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="recipient-name" formControlName="username">
                                @if(userLoginForm.controls['username'].touched &&
                                userLoginForm.controls['username'].errors?.['required'] ){
                                <div>
                                    <span class="text-danger">This is required</span>
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Password:</label>
                                <input class="form-control" id="message-text" formControlName="password">
                                @if(userLoginForm.controls['password'].touched &&
                                userLoginForm.controls['password'].errors?.['required'] ){
                                <div>
                                    <span class="text-danger">This is required</span>
                                </div>
                                }@else if(userLoginForm.controls['password'].touched &&
                                userLoginForm.controls['password'].errors?.['minlength']) {
                                <div>
                                    <span class="text-danger">Minimun 8 characters required</span>
                                </div>
                                }
                            </div>
                            <!-- <div>
                                <input type="hidden" [value]="userRole" class="form-control" id="recipient-name" formControlName="role">
                            </div> -->
        
                            <div class="d-grid gap-2 d-md-block text-center">
                                <button class="btn btn-primary btn-lg m-3" [disabled]="userLoginForm.invalid" (click)="login()">Log in</button>
                                <button class="btn btn-danger btn-lg m-3" (click)="hidePopup()">Cancel</button>
                            </div>
        
        
                            <div class="mb-3">
                                <p class="m-0 text-secondary text-center">Don't have an account? <a (click)="isLoginForm=false"
                                        class="btn link-primary text-decoration-none">Sign up</a>
                                </p>
                            </div>
                        </form>
                    }@else{
                        <form [formGroup]="userRegistrationForm">
                            <label for="" class="form-label">Name:</label>
                            <input type="text" class="form-control" formControlName="name">
                            @if(userRegistrationForm.controls['name'].touched &&
                            userRegistrationForm.controls['name'].errors?.['required'] ){
                            <div>
                                <span class="text-danger">This is required</span>
                            </div>
                            }@else if(userRegistrationForm.controls['name'].touched &&
                            userRegistrationForm.controls['name'].errors?.['pattern']){
                            <div>
                                <span class="text-danger">Only alphabets are allowed</span>
                            </div>
                            }@else if(userRegistrationForm.controls['name'].touched &&
                            userRegistrationForm.controls['name'].errors?.['minlength']) {
                            <div>
                                <span class="text-danger">Minimun 3 letters required</span>
                            </div>
                            }
            
                            <label for="" class="form-label">Email:</label>
                            <input type="text" class="form-control" formControlName="email">
                            @if(userRegistrationForm.controls['email'].touched &&
                            userRegistrationForm.controls['email'].errors?.['required']){
                            <div>
                                <span class="text-danger">This is required</span>
                            </div>
                            }
                            <label for="" class="form-label">Username:</label>
                            <input type="text" class="form-control" formControlName="username">
                            @if(userRegistrationForm.controls['username'].touched &&
                            userRegistrationForm.controls['username'].errors?.['required']){
                            <div>
                                <span class="text-danger">This is required</span>
                            </div>
                            }@else if(userRegistrationForm.controls['username'].touched &&
                            userRegistrationForm.controls['username'].errors?.['minlength']){
                            <div>
                                <span class="text-danger">Mininmum 3 characters required</span>
                            </div>
                            }
                            <label for="" class="form-label">Password:</label>
                            <input type="text" class="form-control" formControlName="password">
                            @if(userRegistrationForm.controls['password'].touched &&
                            userRegistrationForm.controls['password'].errors?.['minlength']){
                            <div>
                                <span class="text-danger">Minimum 8 characters required</span>
                            </div>
                            }@else if(userRegistrationForm.controls['password'].touched &&
                            userRegistrationForm.controls['password'].errors?.['required']){
                            <div>
                                <span class="text-danger">This is required</span>
                            </div>
                            }
                            <label for="" class="form-label">Mobile:</label>
                            <input type="text" class="form-control" formControlName="mobile">
                            @if(userRegistrationForm.controls['mobile'].touched &&
                            userRegistrationForm.controls['mobile'].errors?.['required']){
                            <div>
                                <span class="text-danger form-text">This is required</span>
                            </div>
                            }@else if(userRegistrationForm.controls['mobile'].touched &&
                            userRegistrationForm.controls['mobile'].errors?.['minlength']){
                            <div>
                                <span class="text-danger">10 digits required</span>
                            </div>
                            }@else if(userRegistrationForm.controls['mobile'].touched &&
                            userRegistrationForm.controls['mobile'].errors?.['pattern']){
                            <div>
                                <span class="text-danger">Only numbers are allowed</span>
                            </div>
                            }
                            <!-- <div>
                                <input type="hidden" [value]="userRole" class="form-control" id="recipient-name" formControlName="role">
                            </div> -->
                            <div class="d-grid gap-2 d-md-block">
                                <button type="button" class="btn btn-success m-3" [disabled]="userRegistrationForm.invalid"
                                    (click)="register()">Register</button>
                                <button type="reset" class="btn btn-info m-3" (click)="hidePopup()">Cancel</button>
                            </div>
    
                            <div class="mb-3">
                                <p class="m-0 text-secondary text-center">Already have an account? <a (click)="isLoginForm=true"
                                        class="btn link-primary text-decoration-none">Login</a>
                                </p>
                            </div>
                        </form>
                    }

                }
                

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div> -->
        </div>
    </div>
</div>










<!-- 
<div class="container">
    <div class="row col-6 mt-5 mx-auto p-5 bg-warning bg-opacity-25">
        <div>
            <form [formGroup]="userRegistrationForm">
                <label for="" class="form-label">Name:</label>
                <input type="text" class="form-control" formControlName="name">
                @if(userRegistrationForm.controls['name'].touched &&
                userRegistrationForm.controls['name'].errors?.['required'] ){
                <div>
                    <span class="text-danger">This is required</span>
                </div>
                }@else if(userRegistrationForm.controls['name'].touched &&
                userRegistrationForm.controls['name'].errors?.['pattern']){
                <div>
                    <span class="text-danger">Only alphabets are allowed</span>
                </div>
                }@else if(userRegistrationForm.controls['name'].touched &&
                userRegistrationForm.controls['name'].errors?.['minlength']) {
                <div>
                    <span class="text-danger">Minimun 3 letters required</span>
                </div>
                }

                <label for="" class="form-label">Email:</label>
                <input type="text" class="form-control" formControlName="email">
                @if(userRegistrationForm.controls['email'].touched &&
                userRegistrationForm.controls['email'].errors?.['required']){
                <div>
                    <span class="text-danger">This is required</span>
                </div>
                }
                <label for="" class="form-label">Username:</label>
                <input type="text" class="form-control" formControlName="username">
                @if(userRegistrationForm.controls['username'].touched &&
                userRegistrationForm.controls['username'].errors?.['required']){
                <div>
                    <span class="text-danger">This is required</span>
                </div>
                }@else if(userRegistrationForm.controls['username'].touched &&
                userRegistrationForm.controls['username'].errors?.['minlength']){
                <div>
                    <span class="text-danger">Mininmum 3 characters required</span>
                </div>
                }
                <label for="" class="form-label">Password:</label>
                <input type="text" class="form-control" formControlName="password">
                @if(userRegistrationForm.controls['password'].touched &&
                userRegistrationForm.controls['password'].errors?.['minlength']){
                <div>
                    <span class="text-danger">Minimum 8 characters required</span>
                </div>
                }@else if(userRegistrationForm.controls['password'].touched &&
                userRegistrationForm.controls['password'].errors?.['required']){
                <div>
                    <span class="text-danger">This is required</span>
                </div>
                }
                <label for="" class="form-label">Mobile:</label>
                <input type="text" class="form-control" formControlName="mobile">
                @if(userRegistrationForm.controls['mobile'].touched &&
                userRegistrationForm.controls['mobile'].errors?.['required']){
                <div>
                    <span class="text-danger form-text">This is required</span>
                </div>
                }@else if(userRegistrationForm.controls['mobile'].touched &&
                userRegistrationForm.controls['mobile'].errors?.['minlength']){
                <div>
                    <span class="text-danger">10 digits required</span>
                </div>
                }@else if(userRegistrationForm.controls['mobile'].touched &&
                userRegistrationForm.controls['mobile'].errors?.['pattern']){
                <div>
                    <span class="text-danger">Only numbers are allowed</span>
                </div>
                }
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-success m-3" [disabled]="userRegistrationForm.invalid"
                        (click)="register()">Submit</button>
                    <button type="reset" class="btn btn-info m-3">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div> -->




