<div class="container mt-4 p-3">
    <div class="row">
        <div class="content-panel">
            <div>
                <h1 class="">Wallet</h1>
            </div>

            <hr>

            <div style="display: flex;">
                <!-- <fieldset> -->
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvqtG83740IZMB1PTbHkeam3z7Orduzjm8Sf5371T8og&s"
                        width="100px" height="100px" alt="">
                </div>
                <!-- </fieldset> -->
                <!-- <fieldset class="fieldset"> -->
                <div>
                    <h4 class="ms-5 mt-3">Wallet Balance</h4>

                    @if(walletData().amount>0){
                    <h5 class="ms-5 mt-3">{{walletData().amount | currency:'INR':'symbol':'1.2-2'}} </h5>
                    }@else {
                    <h5 class="ml-5 mt-3"> 0 </h5>

                    }

                </div>
                <!-- </fieldset> -->

            </div>


            <hr>

            <!-- <form class="form-horizontal mt-5" method="post" action="wallet">

                <div class="form-group"> -->

            <!-- <div class="">
                        <h3>Add Amount</h3>
                    </div>
                    <br>
                    <div
                        class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0 mt-3">
                        <label for="" class="form-label">Enter Amount: </label>
                        <input type="number" name="walletAmount"
                            style="width: 300px; height: 35px; border: 1px solid grey; border-radius: 50px;">

                        <% if(data!='' ){ %>
                            <input type="hidden" name="walletId" value="<%=data._id%>">
                            <% }else{ %>
                                <input type="hidden" name="walletId" value="">

                                <% } %>

                    </div>

                    <div>
                        <input type="submit" class="btn btn-info"
                            style="width: 100px; margin:20px 125px;" value="Add">
                    </div> -->

            <!-- </div>
            </form> -->

            <hr>
            <div class="form-group mt-5">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0 mt-3">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        View Transactions
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog modal-xl" style="width: 1500px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        Transactions</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    @if ( walletData().amount>0 ){

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @for (item of walletData().transactions; track $index) {
                                            <tr>
                                                <td>
                                                    {{item.date | date:'mediumDate'}}
                                                </td>
                                                <td>
                                                    {{item.amount | currency:'INR':'symbol':'1.2-2' }}
                                                </td>
                                                <td>
                                                    @if(item.type==='credit'){
                                                    <h6 class="text-success">Credit</h6>
                                                    }@else if(item.type==='debit'){
                                                    <h6 class="text-danger">Debit</h6>

                                                    }

                                                </td>
                                            </tr>
                                            }
                                        </tbody>

                                    </table>

                                    } @else{
                                    <div>No transactions yet...</div>
                                    }

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>