/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bokor&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bokor&family=Parkinsans:wght@300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');

html,
body {
    /* background-color: #FFF7EA; */
    /* background-color:#FFF6EA */
    background-color: #FFFFEC;
    font-family: "Parkinsans", sans-serif;

}

h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
}

.subtitle {
    font-family: "Alex Brush", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}
