<div class="container-fluid">
    <div class="row">
      

        <!-- Main Content -->
        <div class="col-md-12 col-lg-12 ms-auto p-4 main-content">
            <!-- Top Bar -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3>Dashboard Overview</h3>
               
            </div>

            <!-- Stats Cards -->
            <div class="row g-4 mb-4">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5><i class="bi bi-calendar-check card-icon"></i></h5>
                            <h5 class="card-title">Total Completed Events</h5>
                            <h2 class="card-text">{{oldBookingsCount()}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h5><i class="bi bi-ticket-perforated card-icon"></i></h5>
                            <h5 class="card-title">Bookings</h5>
                            <h2 class="card-text">{{totalBookings()}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h5><i class="bi bi-currency-rupee card-icon"></i></h5>
                            <h5 class="card-title">Revenue</h5>
                            <h2 class="card-text">₹{{totalRevenue()}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h5><i class="bi bi-exclamation-triangle card-icon"></i></h5>
                            <h5 class="card-title">Pending Bookings </h5>
                            <h2 class="card-text">{{upcomingBookingsCount()}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- charts -->
            <div class="row">

                <div class="col">
                    <div class="card">

                        <div class="filter">
                            <a class="icon ms-4" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" (click)="creatServiceChart('Weekly')">Weekly</a></li>
                                <li><a class="dropdown-item" (click)="creatServiceChart('Monthly')">Monthly</a></li>
                                <li><a class="dropdown-item" (click)="creatServiceChart('Yearly')">Yearly</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Reports <span><a
                                        (click)="creatServiceChart('Weekly')">/Products-Revenue</a></span></h5>
                            <div class="col">
                                <canvas id="myChartService"></canvas>
                            </div>
                           
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="card">

                        <div class="filter">
                            <a class="icon ms-4" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" (click)="creatEventChart('Weekly')">Weekly</a></li>
                                <li><a class="dropdown-item" (click)="creatEventChart('Monthly')">Monthly</a></li>
                                <li><a class="dropdown-item" (click)="creatEventChart('Yearly')">Yearly</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Reports <span><a
                                        (click)="creatEventChart('Weekly')">/Products-Revenue</a></span></h5>
                            <div class="col">
                                <canvas id="myChartEvents"></canvas>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Recent Bookings Table -->
            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">Payment List</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Event Name</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(adminPaymentList().length<=0){ No recent bookings... 
                                }@else
                                { 
                                    @for (item of
                                    adminPaymentList(); track $index) { <tr>
                                    <td>
                                        @if(item.event){
                                        {{item.event}}
                                        }@else if(item.service){
                                        {{item.service}}
                                        }
                                    </td>
                                    <td>{{item.user}}</td>
                                    <td>{{item.bookingDate | date:'mediumDate'}}</td>
                                    <td>{{item.totalAmount | currency:'INR':'symbol':'1.2-2'}}</td>
                                    <td>
                                        @if(item.isConfirmed){
                                        <span class="badge bg-success">Complete</span>
                                        }@else {
                                        <span class="badge bg-warning">Pending</span>
                                        }
                                    </td>
                                   
                                    </tr>
                                    }

                                    }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Recent Bookings Table -->
            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">Recent Bookings</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Event Name</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(adminBookingsList().length<=0){ No recent bookings... }@else{ @for (item of
                                    adminBookingsList(); track $index) { <tr>
                                    <td>{{item.type}}</td>
                                    <td>{{item.customer}}</td>
                                    <td>{{item.date | date:'mediumDate'}}</td>
                                    <td>
                                        @if(item.isConfirmed){
                                        <span class="badge bg-success">Confirmed</span>
                                        }@else {
                                        <span class="badge bg-warning">Pending</span>
                                        }
                                    </td>
                                    
                                    </tr>
                                    }

                                    }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>