@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bokor&family=Parkinsans:wght@300..800&display=swap');

.nav-link.active {
    background-color: #ebeab9 !important;
    color: #000000 !important;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #ebeab9;
    color: #000000 !important;
}

/* ========================================================================================== */

.sidebar{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: teal;
    transition: width 0.3s;
}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.sidebar .description{
    font-size: 14px;
}

.sidebar .nav-link:hover{
    background-color: beige;
}

.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

@media (max-width:480px){
    .sidebar{
        width: 60px;
    }

    .sidebar .description{
        display: none;
    }

    .sidebar .nav-link{
       justify-content: center;
    }

    .main-content{
        margin-left: 60px;
    }
}



